body {
    font-family: 'Montserrat', sans-serif;
}


.nav {
    height: 60px;
    /* set same as height & line-height below */
    margin-top: 50px;
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 40px;
    /*  should be the same as line-height */
    line-height: 40px;
    /* should be the same as height */
    padding: 0 40px;
    /*"0" sets top and bottom padding to none */
    border: 1px solid black;

}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}

h2,
h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h3 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    align-content: center;
    font-weight: bold;

}


#whitetext {
    color: white;
}

.blog {
    background-color: rgba(63, 94, 251, 1)
}

.code {
    background-color: rgba(70, 193, 252, 1);
}

.about_class {
    background-color: rgba(192, 70, 252, 1);
}

.story {
    background-color: rgba(118, 70, 252, 1);
}

.row {
    margin-left: 100px;
}

.boxes {
    display: flex;
}

.blogpost {
    width: 350px;
    height: 290px;
    margin-right: 20px;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(166, 166, 166, 0.73);
    -moz-box-shadow: 5px 7px 5px 0px rgba(166, 166, 166, 0.73);
    box-shadow: 5px 7px 5px 0px rgba(166, 166, 166, 0.73);
    background-repeat: no-repeat;
}

.construct img {
    height: 500px;
    width: 500px;
}

.about {
    margin-right: 300px;
    margin-left: 100px;
}

#link {
    color: blue !important;
}


@media only screen and (max-width: 700px) {

    .blogpost {
        height: 220px;
        width: 220px;
        margin-bottom: 20px;
    }

    .boxes {
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
        margin-top: 100px;
    }

    h3 {
        font-size: 30px;
        margin-top: 20px;
    }

    p {
        font-size: 30px;
       
    }

    .nav li {
        margin-bottom: 10px;

    }

    .construct img {
        height: 250px;
        width: 250px;
    }

    .construct h1 {
        font-size: 2rem;
    }

    .about {
        margin: 5 !important;
        padding: 0 !important;
        white-space: normal;
        font-size: 30px;

    }
}